body.creative-theme {
    background-color: blueviolet;
    color: brown
}

body.creative-theme header {
    background-color: blueviolet;
    color: brown
}

body.creative-theme nav {
    background-color: blueviolet;
    color: brown
}

body.creative-theme .background-section {
    background-image: url(/pictures/freepik__candid-image-photography-natural-textures-highly-r__90881.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
}