body.creative-theme {
    --text-color: #f411b0;
    --paragraph-text-color: #850df5;
    --background-color: #0fee59;
    --text-header: #eb0909;
    --header-background: #29a0eb;
    --nav-active: #075c91;

}


body.creative-theme .background-section {
    background-image: url(/pictures/freepik__candid-image-photography-natural-textures-highly-r__90881.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
}