body.creative-theme {
    --text-color: #f411b0;
    --headline-color: #5FB2FF;
    --paragraph-text-color: #000;
    --background-color: #EAF5FF;
    --text-header: #fff;
    --header-background: #0170F3;
    --nav-active: #075c91;
    --form-background-color: #EAF5FF;


}


body.creative-theme .background-section {
    background-image: url(/pictures/freepik__candid-image-photography-natural-textures-highly-r__90881.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
}